body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

form > label, form > div, form > button {
	display: block;
	margin: 1em 0;
}

output {
	display: block;
	max-width: 40em;
	padding: .5em;
	margin: 2em 0;
	border: 1px solid black;
	font-family: monospace;
	white-space: pre-wrap;
	background-color: #ccc;
}

output:empty {
	display: none;
}